/* -----------------------Navbar------------------- */
@import url("https://fonts.googleapis.com/css?family=Nunito|Lacquer");

body, button, input {
  font-family: Nunito;
}

* {
  box-sizing: border-box;
  transition: 0.4s ease all;
}


ul {
  padding: 0;
  margin: 0;
}

.navbar {
  background: #080808;
  color: #fff;
  padding: 15px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar .logo {
  cursor: pointer;
  font-family: Lacquer;
}

.navbar ul.links {
  margin-right: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  transition: 0.4s ease all, 0s ease ;
}
.navbar ul.links li {
  text-transform: uppercase;
  padding: 0 15px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease all, 0s ease margin;
}
.navbar ul.links li a {
  text-decoration: none;
  color: #fff;
}
span#logInfo{
  display: none;
}
.navbar ul.links li:hover {
  background: #ffc600;
  cursor: pointer;
}
.navbar ul.links li:hover a {
  color: #080808;
}

button ,span#userLog{
  background: #ffc600;
  outline: none;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 25px;
  border: 1px solid #e6b200;
  letter-spacing: 1px;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: white;
  background: #222222;
  border-color: black;
}





/* ---------------------breadcrumbs----------------- */
.breadcrumbs {
  border: 1px solid #cbd2d9;
  border-radius: 0.3rem;
  display: inline-flex;
  overflow: hidden;
}

.breadcrumbs__item {
  background: #fff;
  color: #333;
  outline: none;
  padding: 0.75em 0.75em 0.75em 1.25em;
  position: relative;
  text-decoration: none;
  transition: background 0.2s linear;
}

.breadcrumbs__item:hover:after,
.breadcrumbs__item:hover {
  background: #edf1f5;
}

.breadcrumbs__item:focus:after,
.breadcrumbs__item:focus,
.breadcrumbs__item.is-active:focus {
  background: #323f4a;
  color: #fff;
}

.breadcrumbs__item:after,
.breadcrumbs__item:before {
  background: white;
  bottom: 0;
  clip-path: polygon(50% 50%, -50% -50%, 0 100%);
  content: "";
  left: 100%;
  position: absolute;
  top: 0;
  transition: background 0.2s linear;
  width: 1em;
  z-index: 1;
}

.breadcrumbs__item:before {
  background: #cbd2d9;
  margin-left: 1px;
}

.breadcrumbs__item:last-child {
  border-right: none;
}

.breadcrumbs__item.is-active {
  background: #edf1f5;
}



/* -----------------------Footer------------------- */

footer {
      background-color: #f2f2f2;
      padding: 20px;
    }
    
    .footer-content {
      max-width: 960px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .footer-section {
      flex: 1;
    }
    
    .footer-section h3 {
      margin-top: 0;
    }
    
    .footer-contact {
      list-style-type: none;
      padding: 0;
    }
    
    .footer-contact li {
      margin-bottom: 5px;
    }